<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <table>
        <tr>
            <td>Job description:</td>
            <td th:text="${job.getName()}"></td>
        </tr>
        <tr>
            <td>Employer:</td>
            <td th:text="${job.getEmployer()}"></td>
        </tr>
        <tr>
            <td>Location:</td>
            <td th:text="${job.getLocation()}"></td>
        </tr>
        <tr>
            <td>Position type:</td>
            <td th:text="${job.getPositionType()}"></td>
        </tr>
        <tr>
            <td>Core competency:</td>
            <td th:text="${job.getCoreCompetency()}"></td>
        </tr>
    </table>

</div>

</body>
</html>